table th {
  text-align: center;
}

table td {
  text-align: center;
}
.bootstrap-select .bs-searchbox{
    margin-left: 38px;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    margin-left: 25px !important;
}
.tab-content .row {
    margin-bottom: 10px;
}

